:root {
    -color-web: hsla(0, 0%, 100%, 0.98);
    -color-bg-gray: rgba(0, 0, 0, 0.03);
}

body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: #ffffff;
}

section,
div,
ul,
li {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.top {
    display: flex;
    position: relative;

    top: 0px;
    left: 0px;

    justify-content: space-between;
    background-color: hsla(0, 0%, 100%, 0.98);
}

.top .top-list {
    display: flex;
    padding: 0px 10px;
    margin: 20px 5px 30px 5px;
    height: 40px;
    flex: 1;
    background-color: hsla(0, 0%, 100%, 0.98);
}

.top-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 4 1 auto;
    max-width: 200px;
}

.top .top-img img {
    margin-left: 5%;
    height: 34px;
}

.top .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top .search-input {
    flex: 4;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 40px;
    max-width: 600px;
    margin: 0px;
    padding: 0px;
    background-color: hsla(0, 0%, 100%, 0.98);
}

.search .in {
    flex: 4 1 auto;
    outline: none;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.03);
    caret-color: red;
    padding-left: 20px;
    /* 左上圆角 */
    border-radius: 18px 0px 0px 18px;
}

.search .in::placeholder {
    color: rgba(51, 51, 51, 0.3);
}

.search .sub {
    flex: 1.2 1 auto;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    max-width: 60px;
    /* 右边圆角 */
    border-radius: 0px 18px 18px 0px;
}

.sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub img {
    display: block;
    height: 25px;
}

.sub:hover img {
    filter: brightness(70%);
}

.top .work {
    max-width: 200px;
    margin-left: 60px;
    margin-right: 30px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: -color-web;
}

.top .work div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color: -color-web;
    min-width: 100px;
    border-radius: 18px;
}

.top .work a {
    text-decoration: none;
    color: black;
}

.top .work div:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

/* 超链接未点击时 */
.top .work a:link {
    /* 字体灰色 */
    color: rgb(128, 128, 128);
}

.main-page {
    display: flex;
    flex-wrap: nowrap;
}

.left-page {
    height: calc(100vh - 72px);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
    margin-left: 15px;
    position: fixed;
    top: 0;
    left: 0;
}

.left-page ul {
    padding-top: 15px;
    background-color: rgb(169, 169, 170);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-page ul li {
    width:  12vw;
    min-width: 110px;
    list-style-type: none;
    text-align: left;
    padding: 10px 0px;
    padding-left: 3vw;
    margin: 7px 0px;
    font-weight: bold;
    background-color: bisque;
    clip-path: inset(0 round 20px);
}

.left-page ul li:hover {
    background-color: rgb(186, 192, 197);
}

.left-page ul .login {
    background-color: red;
}

.left-page ul .text {
    background-color: aliceblue;
    font-size: 12px;
    height: 100px;
}

.left-page .text {
    margin-top: 20px;
    border: 2px;
    border-color: black;

}
.left-page .bottom {
    position: absolute;
    bottom: 0;
}

.box {
    flex: 4 0 auto;
    display: flex;
}