body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: #ffffff;
}
section,div,ul,li{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.top {
    display: flex;
    position: sticky;
    top: 0px;
    left: 0px;

    justify-content: space-between;
    background-color: blue;
}
.top-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 4 1 auto;
}
.top .top-img img {
    margin-left: 5%;
    height: 25px;
}
.top div {
    display: flex;
    padding: 0px 10px;
    margin: 10px 5px;
    height: 34px;
    flex: 1;
    background-color: aqua;
}
.top .search {
    display: flex;
    align-items: center;
}
.top .search-input {
    flex: 4;
    display: flex;
    align-items: stretch;
    max-width: 300px;
    padding-right: 0px;
    padding-left: 0px;
}
.search .in {
    flex: 4 1 auto;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    outline: none;
    border: 0px;
}
.search .sub {
    flex: 1.2 1 auto;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: #ffffff;
}
.top .业务 {
    flex: 1 3 auto;
}
.left-page {
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 0px;
    height: 100%;
    flex: 1.2 1 auto;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.left-page ul{
    background-color: rgb(169, 169, 170);
}
.left-page ul li {
    list-style-type: none;
    text-align: center;
    padding: 10px 0px ;
    margin: 7px 0px;
    background-color: bisque;
    clip-path: inset(0 round 20px);
}
.left-page ul li:hover{
    background-color: rgb(186, 192, 197);
}
.left-page ul .login{
    background-color: red;
}
.left-page ul .text{
    background-color: aliceblue;
    font-size: 12px;
    height: 100px;
}
.box {
    flex: 4;
}